    svg {
        font: 10px sans-serif;
        position: absolute;
        left: 600px;
        top: 270px;
    }

    .background path {
        fill: none;
        stroke: #ddd;
        shape-rendering: crispEdges;
    }

    .foreground path {
        fill: none;
        width: 1px;
        stroke: blue;
        stroke-width: 2px;
        stroke-opacity: 1;
        /*width: 3px;*/
    }
    .foreground path:hover {
        fill: none;
        stroke: rgb(11, 236, 236);
        stroke-width: 5px;
        width: 100px;
        
    }

    .brush .extent {
        fill-opacity: .3;
        stroke: #fff;
        shape-rendering: crispEdges;
    }

    .axis line,
    .axis path {
        fill: none;
        stroke: rgb(51, 28, 28);
        shape-rendering: crispEdges;
    }

    .axis text {
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }
